@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');

/* Basic */
* {
  margin: 0;
  font-family: 'Afacad', sans-serif;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f14e35;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f14e35;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Buttons */
.small-button {
  padding: 5px;
  background-color: #f14e35;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.large-button {
  width: max-content;
  padding: 10px;
  background-color: #f14e35;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.small-button:hover, .large-button:hover {
  background-color: #d9422b;
  transition: 0.7s;
}

.small-button:active, .large-button:active {
  background-color: #d9422b;
}

/* Home page */
.home a:hover {
  color: #f14e35;
  transition: 0.7s;
}

.home a:active {
  color: #f14e35;
}

/* Upload page */
.dropbox {
  height: 200px;
  background-color: #f2f2f2;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 5px;
}

.dropbox .file-formats {
  font-size: 0.9rem;
}

.dropbox input {
  opacity: 0;
  height: 0px;
}

.parsed-files {
  list-style: none;
  padding: 0;
}

.parsed-files li {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  margin: 5px auto;
}

.drag-active {
  box-shadow: 0 0 15px #33333380;
}

.flash {
  border: 1px solid #f14e35;
  border-radius: 5px;
  padding: 5px;
}

/* Offers page */
.offers a {
  background-color: #f2f2f2;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.offers a:hover {
transform: translateX(5px);
transition: 0.7s;
}
